body {
    color: white;
    background: repeating-linear-gradient(
      -55deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
    );
}

.scan {
  &,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: hsla(0, 0%, 0%, .13);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, .25);
    animation: scan 12s linear infinite;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 10%;
    top: 25%;
    animation: none;
  }
}

@keyframes scan {
    0% { top: -20%; }
  100% { top: 90%; }
}

canvas {
    margin-top: 20px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 2px;
}
:canvas{
  border-radius: 2px;
}

.glitch{
  color:white;
  font-size:100px;
  position:relative;
  width:400px;
  margin:0 auto;
  animation:noise-zoom 1s infinite linear alternate-reverse;
}
@keyframes noise-zoom{
  0% {
    transform: scale(1 - random(10)/100)
  }
  10% {
    transform: scale(1 - random(3)/100)
  }
  20% {
    transform: scale(1 - random(3)/100) skew(-(random(10)-5)+deg, 0);
  }
  30% {
    transform: scale(1 - random(3)/100)
  }
  40% {
    transform: scale(1 - random(3)/100)
  }
  50% {
    transform: scale(1 - random(3)/100)
  }
  60% {
    transform: scale(1 - random(3)/100)
  }
  70% {
    transform: scale(1 - random(3)/100)
  }
  80% {
    transform: scale(1 - random(3)/100);
    transform: scale(1 - random(3)/100) skew(-random(10)+deg, 0);
  }
  90% {
    transform: scale(1 - random(3)/100)
  }
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
      text-shadow:(random(20)-10+px) (random(20)-10+px)  (random(40)+px) rgba(255,255,255,.8);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:14px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
      text-shadow:(random(20)-10+px) (random(20)-10+px)  (random(40)+px) rgba(random(255),random(255),random(255),.6);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:18px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}





