body {
  background: #000000;
  font-family: Arial, Helvetica, sans-serif; }

canvas {
  margin-top: 20px;
  border: 1px solid #ffffff;
  color: #ffffff; }

body {
  background: black;
  font-family: 'Varela', sans-serif; }

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
  animation: noise-zoom 1s infinite linear alternate-reverse; }

@keyframes noise-zoom {
  0% {
    transform: scale(0.92); }
  10% {
    transform: scale(0.99); }
  20% {
    transform: scale(0.97) skew(2deg, 0); }
  30% {
    transform: scale(0.99); }
  40% {
    transform: scale(0.98); }
  50% {
    transform: scale(0.99); }
  60% {
    transform: scale(0.97); }
  70% {
    transform: scale(0.99); }
  80% {
    transform: scale(0.99);
    transform: scale(0.99) skew(-random(10)deg, 0); }
  90% {
    transform: scale(0.98); } }

@keyframes noise-anim {
  0% {
    clip: rect(16px, 9999px, 33px, 0);
    text-shadow: -5px -6px 2px rgba(255, 255, 255, 0.8); }
  5% {
    clip: rect(53px, 9999px, 55px, 0);
    text-shadow: -5px -9px 12px rgba(255, 255, 255, 0.8); }
  10% {
    clip: rect(22px, 9999px, 33px, 0);
    text-shadow: -1px -4px 21px rgba(255, 255, 255, 0.8); }
  15% {
    clip: rect(52px, 9999px, 80px, 0);
    text-shadow: 9px -5px 16px rgba(255, 255, 255, 0.8); }
  20% {
    clip: rect(65px, 9999px, 33px, 0);
    text-shadow: -8px 10px 14px rgba(255, 255, 255, 0.8); }
  25% {
    clip: rect(9px, 9999px, 53px, 0);
    text-shadow: 8px 8px 14px rgba(255, 255, 255, 0.8); }
  30% {
    clip: rect(5px, 9999px, 62px, 0);
    text-shadow: 4px 1px 4px rgba(255, 255, 255, 0.8); }
  35% {
    clip: rect(30px, 9999px, 75px, 0);
    text-shadow: 9px 3px 3px rgba(255, 255, 255, 0.8); }
  40% {
    clip: rect(74px, 9999px, 47px, 0);
    text-shadow: -9px 6px 9px rgba(255, 255, 255, 0.8); }
  45% {
    clip: rect(71px, 9999px, 13px, 0);
    text-shadow: -7px 4px 18px rgba(255, 255, 255, 0.8); }
  50% {
    clip: rect(33px, 9999px, 61px, 0);
    text-shadow: -4px -1px 36px rgba(255, 255, 255, 0.8); }
  55% {
    clip: rect(37px, 9999px, 44px, 0);
    text-shadow: -2px 8px 32px rgba(255, 255, 255, 0.8); }
  60% {
    clip: rect(100px, 9999px, 22px, 0);
    text-shadow: -4px -2px 8px rgba(255, 255, 255, 0.8); }
  65% {
    clip: rect(47px, 9999px, 99px, 0);
    text-shadow: 8px 6px 31px rgba(255, 255, 255, 0.8); }
  70% {
    clip: rect(44px, 9999px, 13px, 0);
    text-shadow: 10px 5px 15px rgba(255, 255, 255, 0.8); }
  75% {
    clip: rect(47px, 9999px, 87px, 0);
    text-shadow: 2px 8px 4px rgba(255, 255, 255, 0.8); }
  80% {
    clip: rect(82px, 9999px, 94px, 0);
    text-shadow: -6px 2px 3px rgba(255, 255, 255, 0.8); }
  85% {
    clip: rect(5px, 9999px, 92px, 0);
    text-shadow: -3px 3px 7px rgba(255, 255, 255, 0.8); }
  90% {
    clip: rect(40px, 9999px, 91px, 0);
    text-shadow: 5px -8px 16px rgba(255, 255, 255, 0.8); }
  95% {
    clip: rect(85px, 9999px, 66px, 0);
    text-shadow: 9px 7px 27px rgba(255, 255, 255, 0.8); }
  100% {
    clip: rect(35px, 9999px, 19px, 0);
    text-shadow: 9px -1px 35px rgba(255, 255, 255, 0.8); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 14px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(42px, 9999px, 55px, 0);
    text-shadow: -6px 1px 25px rgba(138, 50, 233, 0.6); }
  5% {
    clip: rect(23px, 9999px, 57px, 0);
    text-shadow: 1px -4px 36px rgba(164, 4, 89, 0.6); }
  10% {
    clip: rect(27px, 9999px, 71px, 0);
    text-shadow: 10px 6px 30px rgba(146, 224, 67, 0.6); }
  15% {
    clip: rect(35px, 9999px, 2px, 0);
    text-shadow: 10px -8px 29px rgba(144, 31, 247, 0.6); }
  20% {
    clip: rect(91px, 9999px, 26px, 0);
    text-shadow: -3px 9px 15px rgba(104, 233, 251, 0.6); }
  25% {
    clip: rect(22px, 9999px, 58px, 0);
    text-shadow: 7px -9px 19px rgba(75, 57, 169, 0.6); }
  30% {
    clip: rect(70px, 9999px, 95px, 0);
    text-shadow: 5px -8px 24px rgba(19, 77, 42, 0.6); }
  35% {
    clip: rect(68px, 9999px, 5px, 0);
    text-shadow: 10px -1px 3px rgba(220, 158, 149, 0.6); }
  40% {
    clip: rect(16px, 9999px, 72px, 0);
    text-shadow: -9px 0px 35px rgba(130, 52, 152, 0.6); }
  45% {
    clip: rect(99px, 9999px, 31px, 0);
    text-shadow: -6px 1px 40px rgba(192, 242, 36, 0.6); }
  50% {
    clip: rect(65px, 9999px, 21px, 0);
    text-shadow: 9px -1px 13px rgba(137, 76, 245, 0.6); }
  55% {
    clip: rect(95px, 9999px, 87px, 0);
    text-shadow: -8px -6px 18px rgba(105, 160, 49, 0.6); }
  60% {
    clip: rect(91px, 9999px, 82px, 0);
    text-shadow: 9px 0px 20px rgba(249, 115, 40, 0.6); }
  65% {
    clip: rect(48px, 9999px, 16px, 0);
    text-shadow: -5px 8px 25px rgba(173, 28, 132, 0.6); }
  70% {
    clip: rect(50px, 9999px, 22px, 0);
    text-shadow: 4px 8px 23px rgba(54, 76, 243, 0.6); }
  75% {
    clip: rect(32px, 9999px, 15px, 0);
    text-shadow: -8px 7px 33px rgba(72, 157, 74, 0.6); }
  80% {
    clip: rect(7px, 9999px, 48px, 0);
    text-shadow: 9px -1px 13px rgba(49, 111, 193, 0.6); }
  85% {
    clip: rect(83px, 9999px, 40px, 0);
    text-shadow: -5px -6px 12px rgba(20, 234, 241, 0.6); }
  90% {
    clip: rect(8px, 9999px, 99px, 0);
    text-shadow: -7px 7px 21px rgba(230, 54, 200, 0.6); }
  95% {
    clip: rect(65px, 9999px, 51px, 0);
    text-shadow: -4px 2px 32px rgba(60, 175, 163, 0.6); }
  100% {
    clip: rect(80px, 9999px, 73px, 0);
    text-shadow: -8px 5px 9px rgba(56, 208, 118, 0.6); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 18px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
